body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

.Root-header {
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.postDiv {
  margin-top: 2%;
  width: 100%;
  padding: 1%;
}

.postListDiv .postDiv {
  border-style: none none solid none;
  border-color: gray;
}

.nav-pills .nav-link.active {
  background-color: lightgray !important;
}

.postDetailsContainer {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.fullWidthContainer {
  width: 100%;
}

.postBody {
  border-style: solid;
  border-radius: 5px;
  border-color: gray;
  padding: 1%;
  width: 60%;
  margin: 0 auto;
}

.control-icon {
  margin-left: 1%;
  cursor: pointer;
}

.commentContainer {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.commentBody {
  border-style: solid;
  border-radius: 5px;
  border-color: gray;
  width: 90%;
  padding: 1%;
}
